{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}
  {% if view.object %}
    Изменение метки
  {% else %}
    Создание метки
  {% endif %}
{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-5">
      <h1 class="h3 mb-4 text-center">
        {% if view.object %}
          Изменение метки
        {% else %}
          Новая метка
        {% endif %}
      </h1>
      <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="d-grid">
          <button class="btn btn-primary" type="submit">
            {% if view.object %}Изменить{% else %}Создать{% endif %}
          </button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
